
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-6">Mi Bingo por tu cogote</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@model Carton

<div class="mt-5 container px-5 border" style="width:800px">
    @{
      for (int f = 0; f < 3; f++) {
            <div class="row border bg-light">
                @{ for ( int c = 0; c < 9; c++ ) {
                        <div class="col numero" > @if ( @Model.Matriz[f, c] == 0 ) {<p> </p> } else {<p>@Model.Matriz[f, c]</p>} </div>
                         }
                            }
                      </div>
              }
             }
        </div>

@*
    <div class="col p-1">
          <div class="p-3 border bg-info" style="width:60px;height:60px;"> @if ( @Model.Matriz[f, c] == 0 ) {; } else {
            @Model.Matriz[f, c]
            ;
        } </div>
    
</div>
*@


@*
@{
    for ( int f = 0; f < 3; f++ ) {
        for ( int c = 0; c < 9; c++ ) {
            if ( @Model.Matriz[f, c] == 0 ) { //si es cero, mostramos espacios
    <p> 00 </p>
                ;
            } else {
    <p> @Model.Matriz[f, c] </p>
                ;
            }
        }
    }

}*@
